elt-meta, elt-date, elt-data, elt-template, elt-post, elt-post-link {
    display: block;
}

nav a:nth-child(2) {
    margin-left: auto;
}

nav a {
    margin-right: .8rem;
}

blockquote p code {
    color: red;
}

post-footer elt-post-link h2, post-footer elt-post-link h2 a {
    font-size: var(--size-5);
    margin-top: var(--gap);

}

