---
const { page } = Astro.props;
---
{page.url.first ? <a href={page.url.first} class="mr-base">First</a> : null}
{page.url.prev ? <a href={page.url.prev} class="mr-base">Previous</a> : null}
{page.url.next ? <a href={page.url.next} class="mr-base">Next</a> : null}
{page.url.last ? <a href={page.url.last} class="mr-base">Last</a> : null}